<body>
<div id="total">
  <div id="main">
    <!--div id="b1" class="CloudButton">
	 <%#= link_to image_tag("buttonbg.png") %>
    </div-->
    <div id="logo">
         <%= link_to image_tag("co-de-sac logo.png") %>
    </div>
    <aside>
      <div id="login" class="accesbuttons">
	 <%= link_to image_tag("login.png") %>
      </div>
      <div id="signup" class="accessbuttons">
	 <%= link_to image_tag("signup.png") %>
      </div>
  </div> 
</div> 
</body> 

    

