// Place all the styles related to the CodeHelps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  margin: 0 0 0 0;
  padding: 30px 0 30px 0;
  text-align: center;
}
form{
  .chform{
    width: 75;
    height: 75;
  }
}

.field{ 

  input{
  -moz-border-radius: 3px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Verdana";

  
  }
}
textarea {
    border-radius: 1em;
    border: 1px solid #000; /* everything up to and including this line
                               are aesthetics, adjust to taste */
    outline: none; /* removes the default outline */
    
}

textarea:focus {
    box-shadow: inset 0 0 3px 2px #f90; /* provides a more style-able
                                           replacement to the outline */
}


#main{
  #form{
    margin: 0 auto;
    width: 300px;
    border: 2px solid blue;
  }
}
#sidebar{
  float: right;
  margin: 0 10px 0 0;
  width: 300px;

}
.latest{
  float: left;
  margin: 10px;
  height: 100%;
  width: 900px;
}
.post{
  h3{
    text-align:center;
    margin: 0 0 0 0;
    clear: both;
  }
.details{
  position: relative;
  float: left;
  width: 400px;
  height: 100%;
  margin: 0 10px 0 0;
}
.content{
  position: relative;
  float: right;
  width: 489px;
  height: 100%;
  margin: 6px 0 0 0;
  
}
}
