<!DOCTYPE html>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>
<body>
<header>
	<nav>
		<ul>	
			<div class="cool">		
				<li><a><%=link_to 'Login', new_user_path %> </a></li>
			<div class="cool">
				<li><a href="#"> About </a></li>
			</div>
		</ul>
	</nav>
</header>

  <div id="main">
    <%= yield %>
    <footer>
      Sup
    </footer>
  </div>
    
</body>

